<section class="statistics">
    <div class="container">
        <div class="row statistics__main-row">
            <div class="col-md-3 statistics__left-column fade-from-right">
                <div class="statistics__img-container">
                    <img src="{{section.settings.img | img_url: '300x'}}" class="statistics__img">
                </div>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-8">
                <div class="row">
                    {%for block in section.blocks%}
                    <div class="col-sm-4">
                        <div class="statistics__item fade-from-right">
                            <p class="statistics__number">{{block.settings.number}}</p>
                            <p class="statistics__message">{{block.settings.message}}</p>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>

        </div>
    </div>
</section>

{%schema%}
{
    "name": "Statistics",
    "settings": [
    {
        "type": "image_picker",
        "id": "img",
        "label": "Image"
    }
    ],
    "blocks": [
    {
        "name": "Statistic",
        "type": "statistic",
        "settings": [
        {
            "type": "number",
            "id": "number",
            "label": "Number",
            "default": "56"
        },
        {
            "type": "text",
            "id": "message",
            "label": "Message",
            "default": "Countries supported"
        }
        ]
    }
    ]
}
{%endschema%}